@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Inter:wght@400;500;600&display=swap');

h1, h2, h3, .title {
  font-family: 'Merriweather', serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

p, button, input, label, .text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #f9f5e9;
}

.main {
    display: grid;
    grid-template-rows: 150px  75px 1fr;
   
}

.nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    align-items: center;
    padding: 50px 75px;
    gap: 50px;
    background-color: #2c3e50;
    color: #f9f5e9;
    box-shadow: 0 2px 4px 8px rgba(0,0,0,0.4);
}

input[type='text']{
    width: 30vw;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    align-items: center;
    padding: 50px 100px;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.addBook {
    display: flex;
    padding: 25px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    font-size: 20px;
}

.addBook:hover, .status:hover, .delete i:hover {
    background-color: #3c5566;
    box-shadow: 0 2px 4px 6px rgba(0,0,0,0.1);
}

.search {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 6px rgba(0,0,0,0.1);
}

.search>i {
    font-size: 29px;
    background-color: #f9f5e9;
}

i {
    color: black;
    padding: 3px;
    font-size: 30px;
}

i:hover {
    background-color: hsl(45, 57%, 98%);
}

input:focus {
    outline: none;
}


.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 300px;
    justify-items: center;
    margin: 0px 100px;
}

.book {
    display: grid;
    grid-template-rows: 1fr 175px;
    height: 700px;
    width: 450px;
    background-color: white;
    box-shadow: 0 4px 6px 8px rgba(0,0,0,0.4);
}


.status {
    display: flex;
    padding: 20px;
    height: 30px;
    border-radius: 10px;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
    max-width: 150px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-size: 22px;
}

.row1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.author {
    font-size: 20px;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.delete i {
    display: flex;
    padding: 10px;
    height: 20px;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    font-size: 30px;
    max-width: 150px;
}

.cover {
    height: 500px;
    width: 400px;
    place-self: center;
    padding: 20px 15px;
}

.book:hover {
    box-shadow: 0 8px 10px 12px rgba(0,0,0,0.5);
}



